#encabezado{
    align-items: center;
    justify-content: center;
    height: 540px;
    background-image: linear-gradient(45deg, rgb(147, 175, 124), rgb(115, 175, 159));
    font-size: 1rem;
    color: white;
    padding-left: 30px;
    padding-top: 15px;
    text-align: center;
  }

 #CV{
    border-radius: 100%;
    border:0px black solid;
    background-color:rgb(7, 6, 6);
    padding:1px;
    box-shadow: 1px 0px 70px 10px rgba(7, 7, 7, 0.8);
    width: 150px;
  }

.TXT{
    font-weight: bold;
    font-size: 30px;
    font-family: Century gothic;
    text-shadow: 5px 2px 1px rgb(13, 15, 14);
    text-decoration: underline;
}

.social-icons{
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.fieldset{
    color: rgb(147, 175, 124); 
    border: 3px solid;
}
.perfil{
    text-align: justify;
    font-family: Century gothic;
    color: black;
}
.legend{
    font-weight: bold;
    font-size: 30px;
    font-family: Century gothic;
    text-decoration: underline;
}
.custom-checkbox {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #0e130e;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    background-color: #4CAF50;
}
.custom-checkbox1 {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #0e130e;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    background-color: #3f3e3e;
}
.tbn {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

.tbn th, .tbn td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    color: black;
    font-family: Century gothic;
}
.titulo{
    font-weight: bold;
    font-size: 30px;
    font-family: Century gothic;
    color: black;
}
.titulo2{
    font-family: Century gothic;
    color: #555555;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.parrafo1{
    font-family: Century gothic;
    color: #666666;
    font-size: 14px;
    line-height: 1.5;
    font-weight: normal;
    text-align: justify;
}
#footer{
    align-items: center;
    justify-content: center;
    height: 300px;
    background-image: linear-gradient(45deg, rgb(147, 175, 124), rgb(115, 175, 159));
    font-size: 1rem;
    color: white;
    padding-left: 30px;
    padding-top: 15px;
    text-align: center;
  }
.estiloboton {
    text-align: center;
    padding: 20px;
}

.estilobotona{
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgb(147, 175, 124);
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #c0c4c4;
}